In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
processed_data_path = os.path.join(os.path.pardir, "data", "processed")
train_file_path = os.path.join(processed_data_path, "train.csv")
test_file_path = os.path.join(processed_data_path, "test.csv")
print(train_file_path, test_file_path)

../data/processed/train.csv ../data/processed/test.csv

In [5]:
train_df = pd.read_csv(train_file_path, index_col='PassengerId')
test_df = pd.read_csv(test_file_path, index_col='PassengerId')

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 33 columns):
Survived              891 non-null int64
Age                   891 non-null float64
Fare                  891 non-null float64
FamilySize            891 non-null int64
IsMother              891 non-null int64
IsMale                891 non-null int64
Deck_A                891 non-null int64
Deck_B                891 non-null int64
Deck_C                891 non-null int64
Deck_D                891 non-null int64
Deck_E                891 non-null int64
Deck_F                891 non-null int64
Deck_G                891 non-null int64
Deck_Z                891 non-null int64
Pclass_1              891 non-null int64
Pclass_2              891 non-null int64
Pclass_3              891 non-null int64
Title_Lady            891 non-null int64
Title_Master          891 non-null int64
Title_Miss            891 non-null int64
Title_Mr              891 non-null int64
Title_Mrs             891 non-null int64
Title_Officer         891 non-null int64
Title_Sir             891 non-null int64
Fare_Bin_very_low     891 non-null int64
Fare_Bin_low          891 non-null int64
Fare_Bin_high         891 non-null int64
Fare_Bin_very_high    891 non-null int64
Embarked_C            891 non-null int64
Embarked_Q            891 non-null int64
Embarked_S            891 non-null int64
AgeState_Adult        891 non-null int64
AgeState_Child        891 non-null int64
dtypes: float64(2), int64(31)
memory usage: 236.7 KB

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 32 columns):
Age                   418 non-null float64
Fare                  418 non-null float64
FamilySize            418 non-null int64
IsMother              418 non-null int64
IsMale                418 non-null int64
Deck_A                418 non-null int64
Deck_B                418 non-null int64
Deck_C                418 non-null int64
Deck_D                418 non-null int64
Deck_E                418 non-null int64
Deck_F                418 non-null int64
Deck_G                418 non-null int64
Deck_Z                418 non-null int64
Pclass_1              418 non-null int64
Pclass_2              418 non-null int64
Pclass_3              418 non-null int64
Title_Lady            418 non-null int64
Title_Master          418 non-null int64
Title_Miss            418 non-null int64
Title_Mr              418 non-null int64
Title_Mrs             418 non-null int64
Title_Officer         418 non-null int64
Title_Sir             418 non-null int64
Fare_Bin_very_low     418 non-null int64
Fare_Bin_low          418 non-null int64
Fare_Bin_high         418 non-null int64
Fare_Bin_very_high    418 non-null int64
Embarked_C            418 non-null int64
Embarked_Q            418 non-null int64
Embarked_S            418 non-null int64
AgeState_Adult        418 non-null int64
AgeState_Child        418 non-null int64
dtypes: float64(2), int64(30)
memory usage: 107.8 KB

# Data Preparation

In [10]:
X = train_df.loc[:, 'Age':].as_matrix().astype('float')

/Users/howard.pinsley/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [11]:
X

array([[22.    ,  7.25  ,  2.    , ...,  1.    ,  1.    ,  0.    ],
       [38.    , 71.2833,  2.    , ...,  0.    ,  1.    ,  0.    ],
       [26.    ,  7.925 ,  1.    , ...,  1.    ,  1.    ,  0.    ],
       ...,
       [22.    , 23.45  ,  4.    , ...,  1.    ,  1.    ,  0.    ],
       [26.    , 30.    ,  1.    , ...,  0.    ,  1.    ,  0.    ],
       [32.    ,  7.75  ,  1.    , ...,  0.    ,  1.    ,  0.    ]])

In [15]:
X.shape

(891, 32)

In [18]:
y = train_df['Survived'].ravel()

In [20]:
y[:10]

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1])

In [21]:
train_df.head()

,Survived,Age,Fare,FamilySize,IsMother,IsMale,Deck_A,Deck_B,Deck_C,Deck_D,...,Title_Sir,Fare_Bin_very_low,Fare_Bin_low,Fare_Bin_high,Fare_Bin_very_high,Embarked_C,Embarked_Q,Embarked_S,AgeState_Adult,AgeState_Child
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,22.0,7.2500,2,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0
2,1,38.0,71.2833,2,0,0,0,0,1,0,...,0,0,0,0,1,1,0,0,1,0
3,1,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
4,1,35.0,53.1000,2,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,1,0
5,0,35.0,8.0500,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0

In [22]:
X.shape, y.shape

((891, 32), (891,))

In [29]:
# train/test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(712, 32) (712,)
(179, 32) (179,)

In [30]:
print("Mean survival in train is {0:.3f}".format(np.mean(y_train)))
print("Mean survival in  test is {0:.3f}".format(np.mean(y_test)))

Mean survival in train is 0.383
Mean survival in  test is 0.385

# Check sklean version

In [31]:
import sklearn

In [33]:
sklearn.__version__

'0.19.1'

# Baseline Model

In [35]:
from sklearn.dummy import DummyClassifier

In [37]:
# create the model
model_dummy = DummyClassifier(strategy='most_frequent', random_state = 0)

In [38]:
# train the model
model_dummy.fit(X_train, y_train)

DummyClassifier(constant=None, random_state=0, strategy='most_frequent')

# Baseline accuracy

In [39]:
print("Score for baseline model is {:.2f}".format(model_dummy.score(X_test, y_test)))

Score for baseline model is 0.61

In [40]:
# Performance metrics
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score

In [41]:
# accuracy score
print("Accuracy for baseline model : {:.2f}".format(accuracy_score(y_test, model_dummy.predict(X_test))))

Accuracy for baseline model : 0.61

In [42]:
# confusion matrix
print("Confusion matrix for baseline model:\n{0}".format(confusion_matrix(y_test, model_dummy.predict(X_test))))

Confusion matrix for baseline model:
[[110   0]
 [ 69   0]]

In [44]:
# precision and recall are always 0 since we never predict positive
print("Precision for baseline model : {:.2f}".format(precision_score(y_test, model_dummy.predict(X_test))))
print("Recall for baseline model : {:.2f}".format(recall_score(y_test, model_dummy.predict(X_test))))

Precision for baseline model : 0.00
Recall for baseline model : 0.00

/Users/howard.pinsley/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

# First Kaggle Submission

In [45]:
# convertion to a matrix
test_X = test_df.as_matrix().astype('float')

/Users/howard.pinsley/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [49]:
# get predictions
predictions = model_dummy.predict(test_X)

In [50]:
test_df.index

Int64Index([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,
            ...
            1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309],
           dtype='int64', name='PassengerId', length=418)

In [52]:
df_submission = pd.DataFrame({'PassengerId': test_df.index, 'Survived': predictions})

In [55]:
df_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerId    418 non-null int64
Survived       418 non-null int64
dtypes: int64(2)
memory usage: 6.6 KB

In [56]:
df_submission.head(5)

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [57]:
submission_data_path = os.path.join(os.path.pardir, "data", "external")
submission_file_path = os.path.join(submission_data_path, "01_dummy.csv")

In [60]:
df_submission.to_csv(submission_file_path, index=False)